<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S2023 Cap805 Banking Page</title>
    <link type="text/css" rel="stylesheet" href="/css/theme.css">
</head>


<body>
  <!-- Header -->
  {{> header user}}
  
  <div class="container"></div>
    <h1>How to Open an Account in Canada</h1>
    <p>
      To open a bank account in Canada, follow these steps:
      
      <ol class="bank-account-ol" style="padding-left: 10cm;">
        <li class="bank-account-li"  style="text-align:start;">Research different banks in Canada to find one that suits your needs.</li>
        <li class="bank-account-li"  style="text-align:start;">Gather the required documents, which typically include proof of identity, proof of address, and your social
          insurance number (SIN).</li>
        <li class="bank-account-li"  style="text-align:start;">Visit the bank branch in person or apply online through the bank's website.</li>
        <li class="bank-account-li"  style="text-align:start;">Complete the application form and provide the necessary documents.</li>
        <li class="bank-account-li"  style="text-align:start;">Once your application is approved, you will receive your account details and any additional information from the
          bank.</li>
        <li class="bank-account-li"  style="text-align:start;">Deposit funds into your new account to start banking in Canada.</li>
      </ol>
    </p>

    <h2>Bank List in Canada</h2>
    <p>Here is a list of banks in Canada:</p>
    <ul class="bank-list" style="padding-left: 16cm;">
      <li class="bank-list-li"  style="text-align:start;"><a href="https://www.rbcroyalbank.com/">Royal Bank of Canada (RBC)</a></li>
      <li class="bank-list-li"  style="text-align:start;"><a href="https://www.td.com/">Toronto-Dominion Bank (TD Bank)</a></li>
      <li class="bank-list-li"  style="text-align:start;"><a href="https://www.scotiabank.com/">Bank of Nova Scotia (Scotiabank)</a></li>
      <li class="bank-list-li"  style="text-align:start;"><a href="https://www.bmo.com/">Bank of Montreal (BMO)</a></li>
      <li class="bank-list-li"  style="text-align:start;"><a href="https://www.cibc.com/">Canadian Imperial Bank of Commerce (CIBC)</a></li>
      <li class="bank-list-li"  style="text-align:start;"><a href="https://www.nbc.ca/">National Bank of Canada</a></li>
      <li class="bank-list-li"  style="text-align:start;"><a href="https://www.hsbc.ca/">HSBC Bank Canada</a></li>
    </ul>
  </div>
  <!-- Footer -->
  {{> footer user}}
</body>

</html>
