
<!DOCTYPE html>
<!--
CAP805 S2023 Rent A Car Page View
Four Guys
June 7, 2023
    -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S2023 Cap805 Rent A Car Page</title>
    <link type="text/css" rel="stylesheet" href="/css/theme.css">
</head>
<body>
    <!-- Header -->
    {{> header user}}
    <h1>ONTARIO DRIVER'S LICENSE</h1>

<section class="content">
  <ul class="drivers-license" style="text-align: left;">
    <div>If you become a resident of Ontario, you must have an Ontario Driver's License in order to drive. You must carry your license with you at all times when driving.</div>
    <p>If you are a newcomer to Ontario who is over the age of 16 and holds a driver's license from another province or country, you are required to apply for an Ontario's driver's license within 60 days of residence in Northwestern Ontario.</p>
    <div>Some foreign licenses may be converted into full Ontario driver's licenses, but most foreign drivers will be required to complete the Ontario graduated licensing system.</div>
    <p>Note: Every vehicle and driver must have insurance. Contact a local insurance provider to become properly insured before you drive. For more information on vehicle insurance, please contact the Ontario <a>Ministry of Transportation.</a> </p>
  </ul>
</section>

        </ul>

        <h2>OBTAINING AN ONTARIO DRIVER’S LICENSE</h2>
    <section class="content">
  <ul class="drivers-license" style="text-align: left;">
    <div>The Ontario Ministry of Transportation has a 3 step graduated licensing system which takes at least 20 months to complete. This system involves a series of written, vision and road tests. Click here for complete licensing details or call the Ontario Ministry of Transportation toll free: 1-800-387-3445. Or visit your nearest DriveTest location.
Applying for an Ontario Driver’s License</div>
    <p>You will be required to provide acceptable identification of your legal name, date of birth (must state the day, month and year of birth) and signature. Documents must be original and valid.</p>
    <p>Please see below list of acceptable identification to obtain an Ontario Driver’s License:</p> 
<ul style="text-align: left;">
  <p>Passport – Canadian or Foreign</p>
  <p>Canadian Citizenship Card with Photo</p>
  <p>Canadian Permanent Residence Card</p>
  <p>Record of Landing (Form IMM 1000). If information on the IMM 1000 is amended and an IMM 1436 is issued, IMM 1436 must be accompanied by IMM 1000 to be acceptable</p>
  <p>Acknowledgement of Intent to Claim Refugee Status (IMM 7703) with photo</p>
  <p>Report Pursuant to the Immigration and Refugees Protection Act (IMM 1442) with photo</p>
  <p>Student Authorization Study Permit (Form 1442)</p>
  <p>Employee Authorization/Work Permit (Form 1442)</p>
  <p>Temporary Resident's Permit (IMM 1442)</p>
  <p>Visitor Record (Form 1442)</p>
</ul>


  </ul>
        <h3>DRIVETEST LOCATIONS</h3>
    <section class="content">
  <ul class="location" style="text-align: center;">
<p>DriveTest has 11 locations throughout Northwestern Ontario to serve you. Find a list and map of DriveTest Centres.</p>
<p>How much do I pay for an Ontario Driver’s License?</p>
<p>Ask at your <a>DriveTest Centre</a> for a list of license fees, road test fees, knowledge test fees and other services.</p>
  </ul>
</section>

    <!-- Footer -->
    {{> footer user}}
</body>
</html>
