<!DOCTYPE html>
<!--
CAP805 S2023 Education Page View
Four Guys
June 30, 2023
    -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S2023 Cap805 Education</title>
    <link type="text/css" rel="stylesheet" href="/css/theme.css">
</head>
<body>
    <!-- Header -->
    {{> header user}}
    <h1>Education in Canada</h1>
    <section class="content">
        <div>
        <table class="form-table">
            <tr>
                <td><label class="fixedLabel"><h4>Category of Education:</h4></label></td>
                <td>
                    <select class="form-control" name="education_category" id="education_category">
                        <option value="1">College</option>
                    </select>
                </td>
                <td><label class="fixedLabel"><h4>City:</h4></label></td>
                <td>
                    <select class="form-control" name="education_city" id="education_city">
                        <option value="1">Toronto</option>
                    </select>
                </td>
            </tr>
        </table>
        <p>Here is the list of Colleges in Toronto, Ontario, Canada with their location, application fee for Post Secondary Diplomas, Bachelors Degree & Graduate Certificate (Post Graduate Diplomas) Programs:</p>
        <table class="form-table">
            <tr>
                <th>College</th>
                <th>Main Campus</th>
                <th>Application Fee</th>
                <th>Website</th>
            </tr>
            <tr>
                <td>SENECA COLLEGE </td>
                <td>Newnham </td>
                <td>CA$ 65 </td>
                <td><a href="https://www.senecacollege.ca/">Link</a></td>
            </tr>
            <tr>
                <td>HUMBER COLLEGE</td>
                <td>North Campus </td>
                <td>CA$ 75 </td>
                <td><a href="https://humber.ca/">Link</a></td>
            </tr>
            <tr>
                <td>CENTENNIAL COLLEGE </td>
                <td>Scarborough </td>
                <td>Waived </td>
                <td><a href="https://www.centennialcollege.ca/">Link</a></td>
            </tr>
            <tr>
                <td>SHERIDAN COLLEGE </td>
                <td>Brampton </td>
                <td>CA$ 100 </td>
                <td><a href="https://viewbook.sheridancollege.ca/">Link</a></td>
            </tr>
            <tr>
                <td>GEORGE BROWN COLLEGE </td>
                <td>Downtown </td>
                <td>CA$ 65 </td>
                <td><a href="https://www.georgebrown.ca/">Link</a></td>
            </tr>
            <tr>
                <td>LAMBTON COLLEGE </td>
                <td>Downtown Mississauga </td>
                <td>Waived </td>
                <td><a href="https://www.lambtoncollege.ca/">Link</a></td>
            </tr>
            <tr>
                <td>NORTHERN COLLEGE</td>
                <td>Downtown </td>
                <td>Waived </td>
                <td><a href="https://www.northerncollege.ca/">Link</a></td>
            </tr>
            <tr>
                <td>ST. CLAIR COLLEGE</td>
                <td>Don Mills Rd. </td>
                <td>Waived </td>
                <td><a href="https://www.stclaircollege.ca/">Link</a></td>
            </tr>
            <tr>
                <td>CAMBRIAN COLLEGE</td>
                <td>Consumers Rd. </td>
                <td>CA$ 400 </td>
                <td><a href="https://cambriancollege.ca/">Link</a></td>
            </tr>
            <tr>
                <td>CANADORE COLLEGE</td>
                <td>Consumers Rd. </td>
                <td>Waived </td>
                <td><a href="https://www.canadorecollege.ca/">Link</a></td>
            </tr>
            <tr>
                <td>ST. LAWRENCE COLLEGE</td>
                <td>Scarborough </td>
                <td>CA$ 200 </td>
                <td><a href="https://www.stlawrencecollege.ca/">Link</a></td>
            </tr>
        </table>
        </div>
    </section>
    <!-- Footer -->
    {{> footer user}}
</body>
</html>
