<!DOCTYPE html>
<!--
CAP805 S2023 Homepage View
Four Guys
June 7, 2023
    -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S2023 Cap805 Homepage</title>
    <link type="text/css" rel="stylesheet" href="/css/theme.css">
</head>

<body>
    <!-- Header -->
    {{> header user}}
    <h1>Welcome to Our Website!</h1>
    <h1>We have everything you want to know before you come to Canada!</h1>
    <h1><a href="/login">Please Head to Login Page</a></h1>
    <!-- Footer -->
    {{> footer user}}
</body>

</html>
