<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S2023 Cap805 Rent A Car Page</title>
    <link type="text/css" rel="stylesheet" href="/css/theme.css">
</head>


<body>
  <!-- Header -->
  {{> header user}}
  <div class="container">
    <h1>How to Open a Mobile Account</h1>
    <p>Follow these steps to open a mobile account:</p>
    <ol class="mobile-accopunt-ol" style="padding-left: 13cm;">
      <li class="bank-account-li"  style="text-align:start;">Research different mobile companies and their plans.</li>
      <li class="bank-account-li"  style="text-align:start;">Choose a mobile plan that suits your needs.</li>
      <li class="bank-account-li"  style="text-align:start;">Visit the website or store of the mobile company.</li>
      <li class="bank-account-li"  style="text-align:start;">Sign up for the mobile plan and provide the necessary information.</li>
      <li class="bank-account-li"  style="text-align:start;">Make the required payment for the plan.</li>
      <li class="bank-account-li"  style="text-align:start;">Receive your mobile account details and SIM card.</li>
    </ol>
  </div>

    <h2>Price Comparison for Popular Mobile Plans</h2>
    <p>Here is a price comparison table for popular mobile plans of 5 top mobile companies in Canada:</p>
  <div class="comparison-table"  style="margin-left: 12cm;">
    <table>
      <thead>
        <tr>
            <th>Company</th>
            <th>Plan Name</th>
            <th>Monthly Price</th>
            <th>Data</th>
            <th>Minutes</th>
            <th>Texts</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td><a href="https://www.rogers.com/">Rogers</a></td>
            <td>Rogers Infinite</td>
            <td>$75</td>
            <td>20GB</td>
            <td>Unlimited</td>
            <td>Unlimited</td>
        </tr>
        <tr>
            <td><a href="https://www.telus.com/">Telus</a></td>
            <td>Peace of Mind</td>
            <td>$70</td>
            <td>15GB</td>
            <td>Unlimited</td>
            <td>Unlimited</td>
        </tr>
        <tr>
            <td><a href="https://www.bell.ca/">Bell</a></td>
            <td>Bell Total Connect</td>
            <td>$80</td>
            <td>25GB</td>
            <td>Unlimited</td>
            <td>Unlimited</td>
        </tr>
        <tr>
            <td><a href="https://www.freedommobile.ca/">Freedom Mobile</a></td>
            <td>Big Gig Unlimited</td>
            <td>$60</td>
            <td>10GB</td>
            <td>Unlimited</td>
            <td>Unlimited</td>
        </tr>
        <tr>
            <td><a href="https://www.virginmobile.ca/">Virgin Mobile</a></td>
            <td>Silver Plan</td>
            <td>$55</td>
            <td>5GB</td>
            <td>500 minutes</td>
            <td>Unlimited</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p><strong>Notice:</strong> By clicking on the company name link above, you would be redirected to the mobile company official website.</p>
  <!-- Footer -->
  {{> footer user}}
</body>

</html>
